@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}
.rating-container {
    position: relative;
    .star-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .star-rating {
        display: inline-block;
        .star-holder {
            cursor: pointer;
            .star-icon {
                display: inline-block;
                position: relative;
                .selected-star-holder {
                    display: inline-block;
                    overflow: hidden;
                    width: 0%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    @include transition(width 200ms);
                    .selected-star {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    &.active {
                        width: 100%;
                    }
                }
            }
        }
        &.readonly {
            .star-holder {
                cursor: default;
            }
        }
        .displayValue,
        .displayTextValue {
            text-align: center;
        }
    }
}