<div class="row">
    <form [formGroup]="dropdownForm" class="col-10">
        <div class="d-flex flex-row flex-wrap">
            <div class="m-2">
                <seb-dropdown formControlName="sizeControl">
                    <button seb-btn
                        sebDropdownToggle>{{!dropdownForm.get('sizeControl')?.value?.key ? 'Select Size' : dropdownForm.get('sizeControl')?.value?.name}}</button>
                    <seb-dropdown-item *ngFor="let size of sizes" [value]="size">{{size.key}}</seb-dropdown-item>
                </seb-dropdown>
            </div>

            <div class="m-2">
                <seb-dropdown>
                    <button seb-btn sebDropdownToggle size="sm">
                        <div [ngStyle]="{ 'display': 'inline-block'}">
                            <div [ngStyle]="{ 'display': 'inline-block'}">
                                drop
                            </div>
                            <div [ngStyle]="{ 'display': 'inline-block'}">
                                <seb-loader [toggle]="!!selectedSize" [fullScreen]="false" className="loader-cmp">
                                </seb-loader>
                            </div>
                        </div>
                    </button>
                </seb-dropdown>
            </div>
            <div class="m-2">
                <button seb-btn size="sm">
                    <span class="button">
                        primary btn sm
                    </span>
                    <seb-loader [toggle]="true" [fullScreen]="false">
                    </seb-loader>
                </button>
            </div>
            <div class="m-2">
                <button seb-btn outline>
                    <span class="button">
                        outline btn default
                    </span>
                    <seb-loader [toggle]="true" [fullScreen]="false">
                    </seb-loader>
                </button>
            </div>
            <div class="m-2">
                <button seb-btn="light">
                    <span class="button">
                        light btn default
                    </span>
                    <seb-loader [toggle]="true" [fullScreen]="false">
                    </seb-loader>
                </button>
            </div>
            <div class="m-2">
                <button seb-btn="link">
                    <span class="button">
                        link btn default
                    </span>
                    <seb-loader [toggle]="true" [fullScreen]="false">
                    </seb-loader>
                </button>
            </div>
            <div class="m-2">
                <button seb-btn="secondary" size="lg">
                    <span class="button">
                        secondary btn lg
                    </span>
                    <seb-loader [toggle]="true" [fullScreen]="false">
                    </seb-loader>
                </button>
            </div>

        </div>
    </form>
    <div class="col-2">
        <seb-loader [toggle]="!!selectedSize" [fullScreen]="false" className="loader-cmp" [size]="selectedSize">
        </seb-loader>
    </div>
</div>