<div
    class="form-group text-area{{className ? ' '+className : ''}}"
    [ngClass]="{'has-error': error}"
    >
    <div class="input-field" [class.has-error]="error">
        <label class="custom-label" for="{{name}}" *ngIf="label">{{label}}</label>
        <textarea
            [name]="name"
            class="form-control"
            [class.resizable]="resizable"
            [placeholder]="placeHolder"
            [maxlength]="max"
            [autofocus]="focus"
            [readonly]="readonly"
            [disabled]="disabled"
            [cols]="cols"
            [rows]="rows"
            [(ngModel)]="value"
            id="{{_id}}"
        >
        </textarea>
        <div class="alert alert-danger">{{error}}</div>
    </div>
</div>
