<div class="custom-dialogue" [ngClass]="{'open-dialogue': open, 'close-dialogue': close}">
    <div class="dialogue-container" [ngClass]="className">
        <div class="dialogue" [class.with-desc]="desc" (click)="stopProp($event)" >
            <div *ngIf="header" class="dialogue-header">{{header}}</div>
            <div *ngIf="desc" class="dialogue-desc">{{desc}}</div>

            <div class="dialogue-footer">
                <div *ngIf="secondaryBtn" class="dialogue-action">
                    <button
                        class="btn btn-secondary dialogue-button"
                        (click)="secondaryAction && secondaryAction()">
                        {{secondaryBtn}}
                    </button>
                </div>
                <div *ngIf="primaryBtn" class="dialogue-action">
                    <button
                        class="btn btn-primary dialogue-button"
                        (click)="primaryAction && primaryAction()">
                        {{primaryBtn}}
                    </button>
                </div>
                <div *ngIf="!primaryBtn && !secondaryBtn" class="dialogue-action">
                    <button
                        class="btn btn-primary dialogue-button"
                        (click)="primaryAction && primaryAction()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>