<button
    [type]="type || 'button'"
    class="btn btn-{{theme || 'primary'}} {{'icon-' + (iconPosition || 'left')}}"
    title="{{title}}"
    [ngClass]="className"
    [disabled]="disabled"
    (click)="clickAction && clickAction($event)"
    id="{{_id}}">
    <div class="button-content">
        <ng-container *ngIf="(iconPosition === 'left')">
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </ng-container>

        <div class="button-label">{{label}}</div>

        <div *ngIf="icon" class="svg-holder" [innerHtml]="icon | safeHtml"></div>

        <ng-container *ngIf="(!iconPosition || iconPosition !== 'left')">
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </ng-container>
    </div>
</button>


<ng-template #content>
    <ng-content></ng-content>
</ng-template>