$blue: #41B0EE;
$blue-darker: #007AC7;
$faded-blue: #a2ddfe;
$transition-time: 200ms;
@mixin transform($props) {
    -webkit-transform: $props;
    -moz-transform: $props;
    -o-transform: $props;
    -ms-transform: $props;
    transform: $props;
}

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

.pagination-wrapper {
    .pagination.dotnav {
        .page-item {
            position: relative;
            width: 20px;
            height: 25px;
            text-align: center;
            .page-dot-link {
                position: relative;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 5px;
                cursor: pointer;
                background-color: $faded-blue;
                @include transition(all $transition-time);
                margin: 0 auto;
                will-change: transform;
                &.active {
                    background-color: $blue-darker;
                    cursor: default;
                    @include transform(scale(1.3));
                }
                &:hover:not(.active) {
                    background-color: $blue;
                }
            }
        }
    }
    .pagination {
        .page-item {
            .page-link {
                span {
                    svg {
                        width: 16px;
                        height: 16px;
                        fill: $blue-darker;
                    }
                }
                &:hover {
                    svg {
                        fill: currentColor;
                    }
                }
            }
        }
    }
}