<div class="pagination-wrapper" [ngClass]="className">
    <nav class="custom-pagination">
        <ul class="pagination" *ngIf="!useDotNav">
            <li *ngIf="value !== 1 && useFirstAndLast" class="page-item" [class.disabled]="value === 1" (click)="handleChange(1)">
                <button class="page-link" title="{{firstText}}">
                    <span *ngIf="useTextNav">{{firstText}}</span>
                    <span *ngIf="!useTextNav" aria-hidden="true" [innerHtml]="leftDoubleIcon | safeHtml"></span>
                    <span class="sr-only">{{firstText}}</span>
                </button>
            </li>
            <li *ngIf="value !== 1" class="page-item" [class.disabled]="value === 1" (click)="handleChange(value - 1)">
                <button class="page-link" title="{{previousText}}">
                    <span *ngIf="useTextNav">{{previousText}}</span>
                    <span *ngIf="!useTextNav" aria-hidden="true" [innerHtml]="leftSingleIcon | safeHtml"></span>
                    <span class="sr-only">{{previousText}}</span>
                </button>
            </li>
            <li *ngFor="let item of getList(value, size, offset)" class="page-item" [class.active]="value === item" (click)="handleChange(item)" value="item">
                <button class="page-link" [class.active]="value === item">
                    {{item}}
                    <span class="sr-only">
                        {{item}}
                    </span>
                </button>
            </li>
            <li *ngIf="value !== size" class="page-item" [class.disabled]="value === size" (click)="handleChange(value + 1)">
                <button class="page-link" title="{{nextText}}">
                    <span *ngIf="useTextNav">{{nextText}}</span>
                    <span *ngIf="!useTextNav" aria-hidden="true" [innerHtml]="rightSingleIcon | safeHtml"></span>
                    <span class="sr-only">{{nextText}}</span>
                </button>
            </li>
    
            <li *ngIf="value !== size && useFirstAndLast" class="page-item" [class.disabled]="value === size" (click)="handleChange(size)">
                <button class="page-link" title="{{lastText}}">
                    <span *ngIf="useTextNav">{{lastText}}</span>
                    <span *ngIf="!useTextNav" aria-hidden="true" [innerHtml]="rightDoubleIcon | safeHtml"></span>
                    <span class="sr-only">{{lastText}}</span>
                </button>
            </li>
        </ul>
    
        <ul *ngIf="useDotNav" class="pagination dotnav">
            <li
                *ngFor="let number of getList(value, size, size)"
                class="page-item" [class.active]="value === number"
                (click)="handleChange(number)"
                value="number">
                <span class="page-dot-link" [class.active]="value === number"></span>
            </li>
        </ul>
    </nav>
</div>