@import "../../../variables";
@import '~@sebgroup/bootstrap/scss/styles/functions';
@import '~@sebgroup/bootstrap/scss/variables';
@import '~@sebgroup/bootstrap/scss/mixins/mixins';

.side-nav {
  transform: translate3d(-$ngseb-docs-menu-width,0,0);
  transition: transform 400ms ease-in-out;
  background: $dark;
  width: $ngseb-docs-menu-width;
  height: 100vh;
  position: fixed;
  z-index: $zindex-fixed;
  left: 0;
  top: 0;
  &.active {
    transform: translate3d(0,0,0);
    display: block;
    z-index: $zindex-fixed;
  }
}
@include media-breakpoint-down(sm) {
  .side-nav.active {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .side-nav {
    transform: translate3d(0,0,0);
  }
}

.seb-logo {
  height:56px;
  width: 56px;
}

.nav-link {
  color: $white;
}

.list-group-menu {
  .list-group-item {
    &.active {
      background: $green;
    }
    a {
      color: $white;
    }
  }
}

.nav-item {
  .nav-link {
    transition: background-color $transition-fade-duration;
  }
  &:hover .nav-link {
    background: rgba($green,.25);
  }
  .nav-link.active {
    background: $green;
  }
}

