<div
    class="custom-step-tracker"
    [class.clickable]="clickAction"
    [ngClass]="[orientation, className, labelPosition]">

    <div class="text-wrapper" *ngIf="topLabel">
        <div
            class="text"
            *ngFor="let item of list; let i = index"
            [ngStyle]="{'width': getProgress(1)}"
            [class.active]="step === i">
            <div class="name">{{ item }}</div>
        </div>
    </div>
    <div class="text-wrapper" *ngIf="leftLabel">
        <div
            class="text"
            *ngFor="let item of list; let i = index"
            [class.active]="step === i">
            <div class="name">{{ item }}</div>
        </div>
    </div>

    <div class="step-wrapper" *ngIf="orientation === 'horizontal'">
        <div class="line">
            <div class="progress" [ngStyle]="{'width': getProgress(step)}"></div>
        </div>
        <div
            class="step"
            *ngFor="let item of list; let i = index"
            [ngStyle]="{'left': getProgress(i)}"
            [ngClass]="{
                'active': (step === i),
                'numbered': useNumbers
            }"
            (click)="clickAction && clickAction(i)">
                <div class="step-border" [innerHtml]="checkIcon | safeHtml"></div>
                <div class="number">{{ i+1 }}</div>
        </div>
    </div>

    <div class="step-wrapper" *ngIf="orientation === 'vertical'">
        <div class="line">
            <div class="progress" [ngStyle]="{'height': getProgress(step)}"></div>
        </div>
        <div
            class="step"
            *ngFor="let item of list; let i = index"
            [ngStyle]="{'top': getProgress(i)}"
            [ngClass]="{
                'active': (step === i),
                'numbered': useNumbers
            }"
            (click)="clickAction && clickAction(i)">
                <div class="step-border" [innerHtml]="checkIcon | safeHtml"></div>
                <div class="number">{{ i+1 }}</div>
        </div>
    </div>
    
    <div class="text-wrapper" *ngIf="bottomLabel">
        <div
            class="text"
            *ngFor="let item of list; let i = index"
            [ngStyle]="{'width': getProgress(1)}"
            [class.active]="step === i">
            <div class="name">{{ item }}</div>
        </div>
    </div>
    <div class="text-wrapper" *ngIf="rightLabel">
        <div
            class="text"
            *ngFor="let item of list; let i = index"
            [class.active]="step === i">
            <div class="name">{{ item }}</div>
        </div>
    </div>

</div>