<section class="p-3">
    <h2>Buttons</h2>
    <button sebng-btn>Primary</button>
    <button sebng-btn outline>Outlined</button>
    <button sebng-btn="secondary">Secondary</button>
    <button sebng-btn="light">Light</button>
    <button sebng-btn="link">Link</button>
    <button sebng-btn size="sm">Primary</button>
    <button sebng-btn size="sm" disabled="true">Disabled</button>
</section>
<section class="p-3">
    <h2>Modal</h2>
    <button sebng-btn (click)="openModal()">Default</button>
    <button sebng-btn class="ml-2" (click)="openModal('aside-left')">
        Aside left
    </button>
    <button sebng-btn class="ml-2" (click)="openModal('aside-right')">
        Aside right
    </button>
    <button sebng-btn class="ml-2" (click)="openModal('fullscreen')">
        Fullscreen
    </button>
    <button sebng-btn class="ml-2" (click)="openModal(null, false)">
        Disable backdrop and esc key
    </button>
</section>
<section class="p-3">
    <h2>Dropdown</h2>
    <form [formGroup]="dropdownForm">
        <sebng-dropdown formControlName="single">
            <button sebng-btn sebng-dropdown-toggle>
                {{ !dropdownForm.get("single")?.value ? "Select fruit" : dropdownForm.get("single")?.value?.name }}
            </button>
            <sebng-dropdown-item *ngFor="let fruit of fruits" [value]="fruit">{{ fruit.name }}</sebng-dropdown-item>
        </sebng-dropdown>
        <sebng-dropdown multiple formControlName="multi" class="ml-2">
            <button sebng-btn sebng-dropdown-toggle>
                <ng-container [ngSwitch]="!!dropdownForm.get('multi')?.value?.length">
                    <ng-container *ngSwitchCase="false">Select fruits</ng-container>
                    <ng-container *ngSwitchCase="true">
                        {{
                            dropdownForm.get("multi")?.value?.length > 1
                                ? (dropdownForm.get("multi")?.value)[0].name + " + " + (dropdownForm.get("multi")?.value?.length - 1)
                                : (dropdownForm.get("multi")?.value)[0].name
                        }}
                    </ng-container>
                </ng-container>
            </button>
            <sebng-dropdown-item *ngFor="let fruit of fruits" [value]="fruit">{{ fruit.name }}</sebng-dropdown-item>
        </sebng-dropdown>
        <sebng-dropdown multiple formControlName="preMulti" class="ml-2">
            <button sebng-btn size="sm" sebng-dropdown-toggle>
                <ng-container [ngSwitch]="!!dropdownForm.get('preMulti')?.value?.length">
                    <ng-container *ngSwitchCase="false">Select fruits</ng-container>
                    <ng-container *ngSwitchCase="true">
                        {{
                            dropdownForm.get("preMulti")?.value?.length > 1
                                ? (dropdownForm.get("preMulti")?.value)[0]?.name + " + " + (dropdownForm.get("preMulti")?.value?.length - 1)
                                : (dropdownForm.get("preMulti")?.value)[0]?.name
                        }}
                    </ng-container>
                </ng-container>
            </button>
            <sebng-dropdown-item *ngFor="let fruit of fruits" [value]="fruit">{{ fruit.name }}</sebng-dropdown-item>
        </sebng-dropdown>
        <sebng-dropdown class="ml-2" (selectionChange)="handleOnSelectionChange($event)">
            <button sebng-btn size="lg" sebng-dropdown-toggle>
                {{ !selected ? "Select with no form" : selected?.name }}
            </button>
            <sebng-dropdown-item *ngFor="let fruit of fruits" [value]="fruit">{{ fruit.name }}</sebng-dropdown-item>
        </sebng-dropdown>
        <sebng-dropdown class="ml-2" (selectionChange)="handleOnSelectionChange($event)">
            <button sebng-btn sebng-dropdown-toggle>No options</button>
        </sebng-dropdown>
    </form>
</section>
<section class="p-3 w-100" style="height: 600px;">
    <h2>Wizard</h2>
    <sebng-wizard stepWise [hideNavigation]="wizard.selectedIndex === 3" #wizard>
        <ng-template sebng-wizard-title>Wizard Title</ng-template>
        <sebng-wizard-step>
            <ng-template sebng-wizard-step-label
                >Step 1
                <ng-container *sebng-wizard-step-labelDesc="let wizard">
                    Displaying {{ wizard.currentStep }} of {{ wizard.totalSteps }}
                </ng-container>
            </ng-template>
            <div class="d-flex flex-column h-100">
                Headline
                <h2>Content of step 1</h2>
                <div class="mt-auto d-flex flex-row">
                    <button sebng-btn outline (click)="wizard.next()" class="ml-auto">
                        Next
                    </button>
                </div>
            </div>
        </sebng-wizard-step>
        <sebng-wizard-step>
            <ng-template sebng-wizard-step-label
                >Step 2
                <ng-container *sebng-wizard-step-labelDesc="let wizard">
                    Displaying {{ wizard.currentStep }} of {{ wizard.totalSteps }}
                </ng-container>
            </ng-template>
            <div class="d-flex flex-column h-100">
                Headline
                <h2>Content of step 2</h2>
                <div class="mt-auto d-flex flex-row">
                    <button sebng-btn outline (click)="wizard.previous()">Previous</button>
                    <button sebng-btn outline (click)="wizard.next()" class="ml-auto">
                        Next
                    </button>
                </div>
            </div>
        </sebng-wizard-step>
        <sebng-wizard-step>
            <ng-template sebng-wizard-step-label
                >Step 3
                <ng-container *sebng-wizard-step-labelDesc="let wizard">
                    Displaying {{ wizard.currentStep }} of {{ wizard.totalSteps }}
                </ng-container>
            </ng-template>
            <div class="d-flex flex-column h-100">
                Headline
                <h2>Content of step 3</h2>
                <div class="mt-auto d-flex flex-row">
                    <button sebng-btn outline (click)="wizard.previous()">Previous</button>
                    <button sebng-btn outline (click)="wizard.next()" class="ml-auto">
                        Next
                    </button>
                </div>
            </div>
        </sebng-wizard-step>
        <sebng-wizard-step>
            <ng-template sebng-wizard-step-label
                >Step 4
                <ng-container *sebng-wizard-step-labelDesc="let wizard">
                    Displaying {{ wizard.currentStep }} of {{ wizard.totalSteps }}
                </ng-container>
            </ng-template>
            <div class="d-flex flex-column h-100">
                Headline
                <h2>Content of step 4</h2>
                <div class="mt-auto d-flex flex-row">
                    <button sebng-btn outline (click)="wizard.reset()" class="ml-auto">
                        Reset wizard
                    </button>
                </div>
            </div>
        </sebng-wizard-step>
    </sebng-wizard>
</section>
<router-outlet></router-outlet>
