<section class="p-3">
  <h2>Buttons</h2>
  <button seb-btn>Primary</button>
  <button seb-btn outline>Outlined</button>
  <button seb-btn="secondary">Secondary</button>
  <button seb-btn="light">Light</button>
  <button seb-btn="link">Link</button>
  <button seb-btn size="sm">Primary</button>
  <button seb-btn size="sm" disabled="true">Disabled</button>
</section>
<section class="p-3">
  <h2>Modal</h2>
  <button seb-btn (click)="openModal()">Default</button>
  <button seb-btn class="ml-2" (click)="openModal('aside-left')">Aside left</button>
  <button seb-btn class="ml-2" (click)="openModal('aside-right')">Aside right</button>
  <button seb-btn class="ml-2" (click)="openModal('fullscreen')">Fullscreen</button>
</section>

<router-outlet></router-outlet>
