@import "../../../variables";
@import "~@sebgroup/bootstrap/scss/styles/functions";
@import "~@sebgroup/bootstrap/scss/variables";
@import "~@sebgroup/bootstrap/scss/mixins/mixins";
header {
    height: 56px;
    position: fixed;
    z-index: $zindex-sticky;
    left: 0;
    //padding-left: 0;
}
.brand,
.profile,
.mobile-header {
    background: #333;
    color: #fff;
    height: 56px;
}

.seb-logo {
    height: 56px;
    width: 56px;
}
@include media-breakpoint-up(sm) {
    header {
        //width:calc(100vw - 17px);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    }
}
@include media-breakpoint-up(lg) {
    header {
        //width:calc(100vw - 256px - 17px);
        //width:calc(100vw - 256px);
        width: calc(100% - #{$ngseb-docs-menu-width});
        left: $ngseb-docs-menu-width;
    }
}

.mobile-header {
    .col {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    .active {
        background: $green;
    }
}
.dropdown-toggle {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown.show {
    background: $blue;
}

.dropdown-item-link {
    padding: 0.5rem 1.5rem;
}

.breadcrumb-container {
    height: 56px;
}

.dropdown-header {
    color: $dark;
    background: $gray-300;
}

.dropdown-menu .dropdown-header:first-child {
    border-radius: $btn-border-radius $btn-border-radius 0 0;
}
