@import "~@sebgroup/bootstrap/scss/core";

code {
    display: block;
    padding: 20px;
    background-color: $gray-800;
    border-radius: 15px;
    color: $gray-200;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 2rem;
}
