<div class="video-holder-component" [ngClass]="className">
    <video
        *ngIf="sourceType === 'local'"
        [width]="width"
        [height]="height"
        [controls]="showControls"
        [autoplay]="autoplay"
        [loop]="loop"
        id="{{id}}"
        [muted]="autoplay ? true : false"
        [ngStyle]="getStyle()"
    >
        <source [src]="src" />
        Your browser does not support the video tag.
    </video>
    <iframe
        *ngIf="sourceType === 'stream'"
        [src]="safeSource"
        [width]="width"
        [height]="height"
        frameborder="0"
        id="{{id}}"
        [attr.allowfullscreen]="allowFullScreen"
    ></iframe>
</div>