<div class="custom-timepicker" [ngClass]="className">
    <div class="timepicker-hours">
        <div
            class="triangle-before"
            (click)="writeValue(handleClick('HOURS', 'INCREMENT', value))"
            [innerHtml]="angleUp | safeHtml"
        >
        </div>
        <input
            type="number"
            [name]="name + '-hours'"
            class="timepicker-input"
            [value]="value.hours < 10 ? ('0' + value.hours) : (value.hours + '')"
            (keyup)="handleChange('HOURS', $event.target.value)"
        />
        <div
            class="triangle-after"
            (click)="writeValue(handleClick('HOURS', 'DECREMENT', value))"
            [innerHtml]="angleDown | safeHtml"
        >
        </div>
    </div>
    <div class="timepicker-minutes">
        <div
            class="triangle-before"
            (click)="writeValue(handleClick('MINUTES', 'INCREMENT', value))"
            [innerHtml]="angleUp | safeHtml"
        >
        </div>
        <input
            type="number"
            [name]="name + '-minutes'"
            class="timepicker-input"
            [value]="value.minutes < 10 ? ('0' + value.minutes) : (value.minutes + '')"
            (keyup)="handleChange('MINUTES', $event.target.value)"
        />
        <div
            class="triangle-after"
            (click)="writeValue(handleClick('MINUTES', 'DECREMENT', value))"
            [innerHtml]="angleDown | safeHtml"
        >
        </div>
    </div>
    <div class="timepicker-dayperiod">
        <div
            class="triangle-before"
            (click)="writeValue(handleClick('DAYPERIOD', 'INCREMENT', value))"
            [innerHtml]="angleUp| safeHtml"
        >
        </div>
        <input
            type="text"
            [name]="name + '-dayperiod'"
            class="timepicker-input"
            readonly="true"
            disabled="true"
            [value]="value.dayperiod"
        />
        <div
            class="triangle-after"
            (click)="writeValue(handleClick('DAYPERIOD', 'DECREMENT', value))"
            [innerHtml]="angleDown | safeHtml"
        >
        </div>
    </div>
</div>