<div
    class="modal-backdrop"
    [class.show]="open"
    [class.fade]="close"
    (click)="!disableBackdropDismiss && closeModal($event)"
>
    <div
        role="dialog"
        tabindex="-1"
        class="modal"
        [attr.aria-labelledby]="ariaLabel"
        [attr.aria-describedby]="ariaDescribedby"
        [attr.id]="id"
        [ngClass]="setMyClasses()">
        <div class="modal-dialog" role="document" tabindex="-1">
            <div class="modal-content">
                <div class="modal-header">
                    <ng-content select="[header]"></ng-content>
                </div>
                <div class="modal-body">
                    <ng-content select="[body]"></ng-content>
                </div>
                <div class="modal-footer">
                    <ng-content select="[footer]"></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>