<div class="custom-tabs" [ngClass]="className">
    <ul class="nav nav-tabs" role="tablist" aria-label="tabs">
        <li class="nav-item" 
            [ngClass]="{
                'active': i === activeTab,
                'disabled': item.disabled
            }"
            *ngFor="let item of list; let i = index">
                <a
                    class="nav-link"
                    [ngClass]="{
                        'active': i === activeTab,
                        'disabled': item.disabled
                    }"
                    role="tab"
                    [attr.tabindex]="setTabIndex(i)"
                    [attr.aria-selected]="i === activeTab"
                    attr.aria-controls="link-{{item.text}}"
                    (keydown)="onKeyDown($event)"
                    id="href-{{item.text}}"
                    #tabRef
                    (click)="clickAction && !item.disabled && clickAction(i)">
                        <div id="link-{{item.text}}">
                            {{item.text}}
                        </div>
                </a>
        </li>
    </ul>
</div>