.row {
    .col {
        .result {
            max-width: 300px;

            svg {
                fill: currentcolor;
                width: 1em;
                height: 1em;
            }
        }
    }
}
