<div class="form-group input-box" [ngClass]="className">
    <div class="input-field" [class.has-error]="error">
        <label class="custom-label" *ngIf="label" for={{name}}>{{label}}</label>
        <input
            #customTextBox
            name="{{name}}"
            type="{{type}}" 
            placeholder="{{placeHolder}}"
            class="form-control"
            [(ngModel)]="value"
            [autofocus]="focus"
            [autocomplete]="autoComplete"
            [readonly]="readOnly"
            [disabled]="disabled"
            [maxlength]="max"
            id={{_id}}
        />
        <div class="alert alert-danger">{{error}}</div>
    </div>
</div>