<div class="form-group input-box-group" [ngClass]="className">
    <label *ngIf="label" class="custom-label" for="name">{{label}}</label>
    <div
        class="input-group"
        [ngClass]="{
            'has-error': error,
            'disabled': disabled
        }"
    >
        <div class="input-box-group-wrapper">
            <div class="input-group-prepend" *ngIf="leftText || leftIcon" [attr.role]="onLeftClick ? 'button' : ''" [class.clickable]="onLeftClick" (click)="onLeftClick && onLeftClick($event)">
                <span *ngIf="leftText" class="input-group-text">{{leftText}}</span>
                <span *ngIf="leftIcon && !leftText" class="input-group-text" [innerHtml]="leftIcon | safeHtml"></span>
            </div>
            <input
                #customTextBoxGroup
                class="form-control"
                [name]="name"
                [type]="type"
                [(ngModel)]="value"
                [placeholder]="placeHolder"
                [autofocus]="focus"
                [autocomplete]="autoComplete"
                [readonly]="readOnly"
                [disabled]="disabled"
                [maxlength]="max"
                id="{{_id}}"
            />
            <div class="input-group-append" *ngIf="rightText || rightIcon" [attr.role]="onRightClick ? 'button' : ''" [class.clickable]="onRightClick" (click)="onRightClick && onRightClick($event)">
                <span *ngIf="rightText" class="input-group-text">{{rightText}}</span>
                <span *ngIf="rightIcon && !rightText" class="input-group-text" [innerHtml]="rightIcon | safeHtml"></span>
            </div>
        </div>
        <div class="alert alert-danger">{{error}}</div>
    </div>
</div>