@import "../../../variables";
@import '~@sebgroup/bootstrap/scss/styles/functions';
@import '~@sebgroup/bootstrap/scss/variables';
@import '~@sebgroup/bootstrap/scss/mixins/mixins';
.example + .example {
  border-top: solid $border-color $border-width;
  margin-top: map_get($spacers,3);
  padding-top: map_get($spacers,3);
}
