.doc-page {
    margin-top: 3rem;

    ::ng-deep .nav-tabs.doc-page-tabs {
        margin-bottom: 2rem;
    }

    &.centered-example {
        ::ng-deep .example {
            justify-content: center;
        }
    }
}
