<div
    class="custom-notification style-{{displayStyle}} {{position}} theme-{{theme || 'purple'}}"
    [class.open]="toggle"
    [ngClass]="className"
>
    <div
        class="content-wrapper" [class.clickable]="clickAction"
        (click)="notificationClicked()"
    >
        <div *ngIf="title && displayStyle === 'slide-in'" class="notification-title">{{title}}</div>
        <div *ngIf="message" class="notification-message">{{message}}</div>
        <ng-content></ng-content>
        <div
            *ngIf="displayStyle === 'slide-in' && actions && actions.length && actions.length < 3"
            class="actions-wrapper"
            [class.partitioned]="actions.length === 2"
        >
            <div *ngFor="let item of actions" class="action-wrapper">
                <button class="btn btn-sm btn-secondary notification-action" (click)="item.action()">{{item.text}}</button>
            </div>
        </div>
    </div>
    <div class="dismiss-btn" *ngIf="dismissable" (click)="dismiss()" [innerHtml]="timeIcon | safeHtml"></div>
</div>