<div 
    class="table-responsive common-table"
    [ngClass]="className"
    [class.fixed-height]="!!fixedHeight"
    [style.height]="fixedHeight ? fixedHeight : null"
>
    <table *ngIf="rows && rows.length > 0" class="table table-sm table-hover">
        <thead
            app-table-header
            [list]="headerList"
            [isSticky]="!!fixedHeight"
            [sortClickedAction]="handleClickSort"
        >
        </thead>
        <tbody
            app-table-body
            [headerList]="headerList"
            [rows]="rows"
            [rowClickedAction]="handleClickRow"
        >
        </tbody>
    </table>
    <div
        *ngIf="rows && rows.length === 0"
        class="skeleton-loader skeleton-loader-table"
        [style.height]="fixedHeight ? fixedHeight : null"
    ></div>
</div>