<div class="custom-accordion" [ngClass]="className">
    <div
        class="accordion-item"
        *ngFor="let item of list; let i = index"
        tabindex="0"
        [id]="randomIds[i]"
        (keydown)="onKeyDown(i, $event)" 
        [attr.aria-expanded]="active === i"
        attr.aria-controls="lbl-{{randomIds[i]}}"
        role="button"
        [class.active]="active === i">
        <div
            class="header-wrapper" 
            (click)="this.toggle(i)"
        >
            <div [innerHtml]="angleRightIcon | safeHtml"></div>
            <div class="accordion-category">{{item.category}}</div>
        </div>
        <div class="content-wrapper" attr.aria-labelledby="{{randomIds[i]}}" id="lbl-{{randomIds[i]}}" role="region">
            <div class="text-wrapper" *ngIf="!isArray(item.text)" role="region">
                <div class="text-item">
                    <div *ngIf="item.text.title" class="accordion-title">{{item.text.title}}</div>
                    <div *ngIf="item.text.desc" class="accordion-desc">{{item.text.desc}}</div>
                </div>
            </div>
            <div *ngIf="isArray(item.text)" class="text-wrapper" role="region">
                <div class="text-item" *ngFor="let text of item.text">
                    <div *ngIf="text.title" class="accordion-title">{{text.title}}</div>
                    <div *ngIf="text.desc" class="accordion-desc">{{text.desc}}</div>
                </div>
            </div>
        </div>
    </div>
</div>