@import "~@sebgroup/bootstrap/scss/variables";

.grid {
    display: grid;
    row-gap: 1rem;
    sebng-checkbox {
        width: fit-content;
        .custom-description {
            font-size: $font-size-sm;
            color: $success;
        }
    }
    .inner-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        min-height: 74px;
        button {
            height: fit-content;
        }
    }
}
