<div class="custom-carousel" [ngClass]="className">
    <swiper
        (indexChange)="carouselChanged && carouselChanged($event)"
        [(index)]="currentIndex"
        [useSwiperClass]="true"
        [config]="config">
        <div
            *ngFor="let item of list"
            [ngStyle]="{ 'height': config.height+'px' }">
            <div
                *ngIf="item.image"
                class="carousel-img"
                [ngStyle]="{
                    'background-image': 'url('+item.image+')',
                    'background-size': backgroundPlacement
                }">
            </div>
            <div *ngIf="item.title" class="title">{{item.title}}</div>
            <div *ngIf="item.desc" class="desc">{{item.desc}}</div>
        </div>
    </swiper>
</div>